button{color: rgb(255, 255, 255);  
    background:#000000;  
    border: 4px ;
    padding: 6px;  
    margin-left: 70%;
    width: 3cm;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
        }
body {
    background-color: #006B54;
    color: #000000;
    }